<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
        <h1 class="my-0 mr-md-auto font-weight-normal text-white">Porcigest</h1>
        <nav class="container my-2 my-md-0 mr-md-3">
            <div class="row gx-5">
                <a class="col text-capitalize p-2 text-white" href="/">Home</a>
                <a class="col text-capitalize p-2 text-white" href="#">Sobre Nosotros</a>
                <a class="col text-capitalize p-2 text-white" href="#">Servicios</a>
                <a class="col text-capitalize p-2 text-white" href="contactanos">Contactanos</a>
                <div class="col">
                    <a class="bg-info btn btn-outline-info text-capitalize p-2 text-white" href="#">Ingresar</a>
                </div>
            </div>
        </nav>
    </div>
</header>