
:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: #1A2537;
    --hovercolor: #819EB8;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
}

header {
    
    padding: 1px;
    background-color: #f1f1f1;
    color: rgb(32, 26, 26);
    padding-left: 50px;
    align-items: center;
    height: 50px;
    line-height: 10px;
    
    
}


.menu{
    background-color: var(--bgcolor);
    color: white;
    /*position: fixed;*/
    left: 0;
    width: 300px;
    min-height: 100vh;
    overflow-y: auto;
}

.menu ul{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

/*PERFIL*/

.perfil{
    box-sizing: border-box;
    border-bottom: solid 1px black;
    background-color: #2C2953;
    text-align: center;
    padding: 10px 0;
    

}

#foto{
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
}

#foto img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    
}

#nombreUsuario span{
display: block;
padding: 5px;
font-size: 15px;
}

/*LISTA DEL MENU*/

.list_item{
    
    list-style: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
}


.nav_link{
    color:#819EB8;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    
}

.nav_link1{
    color:#819EB8;
    display: block;
    padding: 15px;
    text-decoration: none;
    
}


.nav_link1:hover{
    background-color: var(--hovercolor);
    border-radius: 6px;
}

.nav_link1 .clicked{
    background-color: red;
    border-radius: 6px;
}



.nav_link--inside{
    border-radius: 6px;
    padding-left: 15px;
    text-align: left;
}

.nav_link--inside:hover{
    background-color: var(--hovercolor);
    border-radius: 6px;
    
}

.list_inside .clicked{
    background-color: var(--hovercolor);
}

.nav_link1 .clicked{
    background-color: red;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 95%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}



.list_arrow{
    margin-left:auto;
    transition: transform .3s;
}


.list_show{
    padding-left: 5px;
    width: 75%;
    margin-left: auto;
    border-left: 2px solid white;
    list-style: none;
    transition: height .5s;
    height: 0;
}
