<html lang="en">
  {% include '_head.html' %}
  {% load static %}
  <script src="{% static 'js/sb-admin-2.js' %}" defer></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}" defer></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}" defer></script>
  <body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include '_topbar.html' %}

                <div class="container-fluid mt-5">

                  {% include 'gestion_animales/gestacion/nav_bar.html' %}

                  <!-- Content Row -->
                  <div class="row bg-gray-300">
                      <form method="post" enctype="multipart/form-data" class="col align-self-center py-5 px-3">
                        <div class="container">
                          <div class="row">
                            <div class="col-4 col-sm text-black h4">
                              {{ form.id_madre.errors }}
                              {{ form.id_madre.label_tag }} 
                              {{ form.id_madre }}
                            </div>
                            <div class="col-4 col-sm text-black h4">
                              {{ form.id_padre.errors }}
                              {{ form.id_padre.label_tag }}
                              {{ form.id_padre }}
                            </div>
                            <div class="col-4 col-sm text-black h4">
                              {{ form.fecha_inseminacion.errors }}
                              {{ form.fecha_inseminacion.label_tag }}
                              {{ form.fecha_inseminacion }}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6 text-black h4">
                              {{ form.tipo_inseminacion.errors }}
                              {{ form.tipo_inseminacion.label_tag }}
                              {{ form.tipo_inseminacion }}
                            </div>
                            <div class="col-6 text-black h4">
                              {{ form.observaciones.errors }}
                              {{ form.observaciones.label_tag }}
                              {{ form.observaciones }}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                          </div>
                        </div>
                        {% csrf_token %}
                    </form>
                  </div>

                </div>

                {% include '_footer.html' %}
            </div>
            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
  </body>
</html>