<html lang="en">
  {% include '_head.html' %}
  {% load static %}
  <script src="{% static 'js/sb-admin-2.js' %}" defer></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}" defer></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}" defer></script>
  <body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include '_topbar.html' %}

                <div class="container-fluid mt-5">
            
                    {% include 'gestion_animales/gestacion/nav_bar.html' %}

                    <!-- Content Row -->
                    <div class="row">
                      
                    </div>

                </div>

                {% include '_footer.html' %}
            </div>
            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
  </body>
</html>