<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}
  {% load static %}
  <script src="{% static 'js/sb-admin-2.js' %}" defer></script>
  <body>
    <div id="wrapper">
        {% include '_sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                {% include '_topbar.html' %}

                <div class="container-fluid mt-5">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-black">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card h-100 bg-green">
                                <div class="card-body bg-green">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-center">
                                            <div class="h1 mb-0 font-weight-bold text-white">{{ count_cerdos }}</div>
                                            <div class="text-md font-weight-bold text-white text-uppercase mb-1">
                                                Cerdos
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-green-shadow">
                                    <div class="row no-gutters bg-green-shadow">
                                        <div class="col text-center">
                                            <a class="h5 mb-0 font-weight-bold text-white" href="{% url 'gestion_animales:inventario' %}">
                                                Mas Informacion
                                                <i class="fa-solid fa-circle-arrow-right text-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card h-100 bg-green">
                                <div class="card-body bg-green">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-left">
                                            <div class="h1 mb-0 font-weight-bold text-white">{{ count_lactancias }}</div>
                                            <div class="text-md font-weight-bold text-white text-uppercase mb-1">
                                                Cerdos en lactancia
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-chart-simple fa-5x text-green-shadow"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-green-shadow">
                                    <div class="row no-gutters bg-green-shadow">
                                        <div class="col text-center">
                                            <a class="h5 mb-0 font-weight-bold text-white" href="{% url 'gestion_animales:lactancia' %}">
                                                Mas Informacion
                                                <i class="fa-solid fa-circle-arrow-right text-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card h-100 bg-green">
                                <div class="card-body bg-green">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-left">
                                            <div class="h1 mb-0 font-weight-bold text-white">{{ count_lotes }}</div>
                                            <div class="text-md font-weight-bold text-white text-uppercase mb-1">
                                                Lotes de lechones
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-chart-simple fa-5x text-green-shadow"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-green-shadow">
                                    <div class="row no-gutters bg-green-shadow">
                                        <div class="col text-center">
                                            <a class="h5 mb-0 font-weight-bold text-white" href="{% url 'gestion_animales:precebos' %}">
                                                Mas Informacion
                                                <i class="fa-solid fa-circle-arrow-right text-white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->

                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">% Nivel del agua</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myPieChart" style="display: block; height: 208px; width: 384px;" width="768" height="416" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Nivel de agua en las ultimas 24 Horas</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myAreaChart" style="display: block; height: 160px; width: 384px;" width="768" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Content Row -->
                    
                    <div class="row justify-content-md-center">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Nacimientos</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="myAreaChart2" style="display: block; height: 160px; width: 384px;" width="768" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% include '_footer.html' %}
            </div>
            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
  </body>
  <script defer>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.font.family = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.font.defaultFontColor = '#858796';

    // Pie Chart 

    var ctx = document.getElementById("myPieChart");
    var data = {
    labels: ["Nivel del agua", "Restante"],
    datasets: [{
        data: [{{last_nivel_agua}}, 100 -{{last_nivel_agua}}],
        backgroundColor: ['#3C8DBC','#EEEEEE'],
        hoverBackgroundColor: ['#3C8DBC','#EEEEEE'],
        hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
    };

    var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false
            },
            tooltips: {
            enabled: false
            },
        },
        cutoutPercentage: 80,
    },
    });

  </script>

  <script defer>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.font.family = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.font.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
    // *     example: number_format(1234.56, 2, ',', ' ');
    // *     return: '1 234,56'
    number = (number + '').replace(',', '').replace(' ', '');
    var n = !isFinite(+number) ? 0 : +number,
        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
        sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
        dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
        s = '',
        toFixedFix = function(n, prec) {
        var k = Math.pow(10, prec);
        return '' + Math.round(n * k) / k;
        };
    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
    s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
    if (s[0].length > 3) {
        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || '').length < prec) {
        s[1] = s[1] || '';
        s[1] += new Array(prec - s[1].length + 1).join('0');
    }
    return s.join(dec);
    }

    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var ctx2 = document.getElementById("myAreaChart2");



    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ chart_flujo_agua_data.labels | safe }},
        datasets: [{
            data: {{ chart_flujo_agua_data.data | safe }},
            label: "Nivel de agua",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
        }],
    },
    options: {
        maintainAspectRatio: false,
        layout: {
            padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
            }
        },
        scales: {
        xAxes: [{
            time: {
            unit: 'time'
            },
            gridLines: {
            display: false,
            drawBorder: false
            },
            ticks: {
            maxTicksLimit: 7
            }
        }],
        yAxes: [{
            ticks: {
            maxTicksLimit: 5,
            padding: 10,
            // Include a dollar sign in the ticks
            callback: function(value, index, values) {
                return '$' + number_format(value);
            }
            },
            gridLines: {
            color: "rgb(234, 236, 244)",
            zeroLineColor: "rgb(234, 236, 244)",
            drawBorder: false,
            borderDash: [2],
            zeroLineBorderDash: [2]
            }
        }],
        },
        legend: {
        display: false
        },
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
            label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
        }
    }
    });

    var myLineChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: {{ chart_nacimientos_data.labels | safe }},
        datasets: [{
            data: {{ chart_nacimientos_data.data | safe }},
            label: "Nacidos Vivos",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
        }],
    },
    options: {
        maintainAspectRatio: false,
        layout: {
        padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
        }
        },
        scales: {
        xAxes: [{
            time: {
            unit: 'date'
            },
            gridLines: {
            display: false,
            drawBorder: false
            },
            ticks: {
            maxTicksLimit: 7
            }
        }],
        yAxes: [{
            ticks: {
            maxTicksLimit: 5,
            padding: 10,
            // Include a dollar sign in the ticks
            callback: function(value, index, values) {
                return '$' + number_format(value);
            }
            },
            gridLines: {
            color: "rgb(234, 236, 244)",
            zeroLineColor: "rgb(234, 236, 244)",
            drawBorder: false,
            borderDash: [2],
            zeroLineBorderDash: [2]
            }
        }],
        },
        legend: {
        display: false
        },
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
            label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
            }
        }
        }
    }
    });
  </script>


</html>
